<div class="contenedorTipoRegistro" >
    <button class="btn btn-light" type="button" [routerLink]="regFisio" >Fisioterapeuta <img src="./../../../assets/imagenes/RegistroFisio.png"  alt="asdd"></button>
    <button class="btn btn-light" type="button" [routerLink]="regClient" >Cliente <img src="./../../../assets/imagenes/RegistroCliente.png" alt="asdd"></button>
  </div>
  <div class="linkInicioSesion">
    <a class="link-primary" aria-current="page" href="/auth/login">Iniciar sesión</a>
  </div>