<div class="subtitulos">
    <h5>Gestion de Fisioterapeutas</h5>
  </div>
<form errorTailor class="form-submitted">    
    <!-- <input type="text" class="form-control" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost"> -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fotografia</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Puntuacion</th>
            <th scope="col">Correo</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of DataFisios ; ">
            <td>{{post.id_fisio}}</td>
            <td id="foto"><img [src]="Api+post.fotografia" alt="..." width="80" height="80"></td>
            <td>{{post.nombre}}</td>
            <td>{{post.apellido1}}</td>
            <td>{{post.apellido2}}</td>
            <td>{{post.edad}}</td>
            <td>{{post.direccion}}</td>
            <td>{{post.telefono}}</td>
            <td>{{post.puntuacion}}</td>
            <td>{{post.correo}}</td>

            <td>
            <div class="button">
                <button type="submit" style="margin: 5px" class="btn btn-primary" (click)="mostrarModalInfo(post)">MODIFICAR</button>
                <button type="button" style="margin: 5px" class="btn btn-danger" (click)="eliminar(post.id_fisio)">ELIMINAR</button>
              </div>
            </td>
        </tr>
        </tbody>
      </table>
      
</form>


<ng-template #modalFisio let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Fisioterapeuta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarmodal()"></button>
      </div>
      <div class="modal-body">
        
        <form>
          <form [formGroup]="formModificarFisio" (ngSubmit)="subRegClient()">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" >Fotografia:</label><br>
              <img [src]="url" width="180" height="180"><br><br>
              <input type="file" (change)="onselectFile($event)" class="form-control" formControlName="foto_" accept="image/*">
            </div>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Nombre:</label>
            <input type="text" class="form-control"  id="recipient-name1" formControlName="nombre_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Primer Apellido:</label>
            <input type="text" class="form-control" id="recipient-name2" formControlName="apellido1_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Segundo Apellido:</label>
            <input type="text" class="form-control" id="recipient-name3" formControlName="apellido2_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Edad:</label>
            <input type="number" class="form-control" id="recipient-name4" formControlName="edad_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Direccion:</label>
            <input type="text" class="form-control" id="recipient-name5" formControlName="direccion_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Telefono:</label>
            <input type="number" class="form-control" id="recipient-name6" formControlName="telefono_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Puntuacion:</label>
            <input type="text" class="form-control" id="recipient-name7" formControlName="punt_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Correo:</label>
            <input type="text" class="form-control" id="recipient-name8" formControlName="correo_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">RFC:</label>
            <input type="text" class="form-control" id="recipient-name9" formControlName="rfc_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Telefono de casa:</label>
            <input type="number" class="form-control" id="recipient-name10" formControlName="telcasa_">
          </div>

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Cedula:</label>
            <input type="file" class="form-control" (change)="onselectFileC($event)" id="recipient-name11" formControlName="cedula_" accept=".pdf">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Titulo:</label>
            <input type="file" class="form-control" id="recipient-name12" (change)="onselectFileT($event)" formControlName="titulo_" accept=".pdf">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Certificados:</label>
            <input type="file" class="form-control" id="recipient-name13" (change)="onselectFileCER($event)" formControlName="certif_" accept=".pdf">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Años de experiencia:</label>
            <input type="number" class="form-control" id="recipient-name14" formControlName="anos_" >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Evidencia:</label>
            <input type="file" class="form-control" id="recipient-name15" (change)="onselectFileEVD($event)" formControlName="evidencia_" accept=".pdf">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Disponibilidad:</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="disponibilidad_">
                <option selected disabled >Choose...</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Tiempo(Mañana)">Medio Tiempo(Mañana)</option>
                <option value="Medio Tiempo(Tarde)">Medio Tiempo(Tarde)</option>
              </select>  
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Precio:</label>
            <input type="number" class="form-control" id="recipient-name17" formControlName="precio_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Usuario:</label>
            <input type="text" class="form-control" id="recipient-name18" formControlName="usuario_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Contraseña:</label>
            <input type="text" class="form-control" id="recipient-name19" formControlName="contrasena_">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tipo de usuario:</label>
            <input type="text" class="form-control" id="recipient-name20" formControlName="tipoU_">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >GUARDAR</button>
          </div>
        </form>
        </form>
      </div>
    </div>
  </div>

</ng-template>  